.container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.input-container{
    box-sizing: border-box;
    display: block;
    margin: 0;
    margin-top: 80px;
    width: 100%;
    input{
        margin-left: 15px;
    }
    .myinput{
        width: 100px;
    }
}